# Requires Python 3.13.11
# Requires ffmpeg installed on system
assemblyai
httpx
numpy
python-dotenv
textblob
websockets
# Server Dependencies
fastapi
uvicorn
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
